.hint {
  margin: 0.4em 0;
  text-align:  center;
  height: 1.2em;
}

.consonant {
  font-size: 1.2em;
  padding: 0 0.5em;
  cursor: pointer;
  color: #00bcd4;
  border-radius: 3px;

  &:hover {
    background: #008ba3;
    color: white;
  }
}




