<header>
  <img src="/assets/logos/IpaGamesLogoVertical.png" alt="IPA Games Logo">
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/listen">Listen</a>
    <a routerLink="/advanced-vowel-sounds-game">Advanced Vowel Sounds Game</a>
    <a routerLink="/advanced-consonant-sounds-game">Advanced Consonant Sounds Game</a>
    <a routerLink="/simple-vowel-symbols-game">Simple Vowel Symbols Game</a>
  </nav>
</header>
<main class="mdl-layout__content">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/listen">Listen</a></li>
      <li><a routerLink="/advanced-vowel-sounds-game">Advanced Vowel Sounds Game</a></li>
      <li><a routerLink="/advanced-consonant-sounds-game">Advanced Consonant Sounds Game</a></li>
      <li><a routerLink="/simple-vowel-symbols-game">Simple Vowel Symbols Game</a></li>
    </ul>
  </div>
</footer>
