<h2>Simple Vowel Symbols Game</h2>
<button (click)="startRound()" [disabled]="startButtonDisabled">{{startRoundButtonText}}</button>
<div class="score">Score: <span>{{game.corrects}}</span>/<span>{{game.questions}}</span></div>
<div *ngIf="currentRound" class="game-round">
  <div class="question" [innerHTML]="currentRound.correct.hexUtfToHtml() | keepHtml"> </div>
  <ul>
    <li *ngFor="let vowel of possibleAnswers"
        (click)="makeGuess(vowel)"
        class="answer"
        [innerHTML]="vowel.description | keepHtml"></li>
  </ul>
  <div class="messages">{{messages}}</div>
</div>