<h1>Advanced Vowel Sounds Game</h1>
<app-sounds-game-board (startButtonClicked)="startRound()"
                (replayButtonClicked)="replaySound()"
                [startButtonText]="buttonText"
                [startRoundButtonDisabled]="startRoundButtonDisabled()"
                [replaySoundButtonDisabled]="replaySoundButtonDisabled"
                [messages]="messages"></app-sounds-game-board>
<app-vowels (vowelClicked)="makeGuess($event)"
            (vowelEntered)="mouseEnter($event)"
            (vowelLeft)="mouseLeave($event)"
            [hint]="hint"></app-vowels>
