<h2>IPA Vowels Game</h2>
<textarea ngx-auto-scroll class="messages" [innerHTML]="messages"></textarea>
<div>
  <button id="startRoundButton" (click)="startRound()" [innerHTML]="buttonText" [disabled]="startRoundButtonDisabled()"></button>
  <button id="replaySoundButton" (click)="replaySound()" [disabled]="replaySoundButtonDisabled">Replay Sound</button>
</div>
<div class="hint" [innerHTML]="hint"></div>
<ul *ngFor="let vowelRow of vowels">
  <li *ngFor="let vowel of vowelRow" (click)="makeGuess(vowel)" 
      (mouseenter)="mouseEnter(vowel)"
      (mouseleave)="mouseLeave(vowel)"
      [innerHTML]="displayHex(vowel) | keepHtml"></li>
</ul>