<div class="vowels">
  <div class="hint">{{hint}}</div>
  <div class="vowel-titles">
    <span>Front</span>
    <span>Central</span>
    <span>Back</span>
  </div>
  <ul *ngFor="let vowelRow of vowels; let i = index">
    <li class="group-name">{{vowelGroups[i]}}</li>
    <li *ngFor="let vowelGroup of vowelRow" class="round-unround-group">
      <span *ngFor="let vowel of vowelGroup" (click)="vowelClick(vowel)" 
        (mouseenter)="mouseEnter(vowel)"
        (mouseleave)="mouseLeave(vowel)"
        [innerHTML]="displayHex(vowel) | keepHtml"></span></li>
  </ul>
</div>