/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-consonants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-vowels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-listen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  color: #ddf;
  padding: 1em;
}

nav a:hover {
  color: #44f;
}
