<h1>Home</h1>
<h2>Your stats:</h2>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Game</th>
      <th>Questions</th>
      <th>Guesses</th>
      <th>Correct</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Advanced Vowel Sounds Game</td>
      <td>{{vowelPhoneGameStats.questions}}</td>
      <td>{{vowelPhoneGameStats.guesses}}</td>
      <td>{{vowelPhoneGameStats.corrects}}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Advanced Consonant Sounds Game</td>
      <td>{{consonantPhoneGameStats.questions}}</td>
      <td>{{consonantPhoneGameStats.guesses}}</td>
      <td>{{consonantPhoneGameStats.corrects}}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Simple Vowel Symbols Game</td>
      <td>{{vowelSymbolsGameStats.questions}}</td>
      <td>N/A</td>
      <td>{{vowelSymbolsGameStats.corrects}}</td>
    </tr>
  </tbody>
</table>
